<% provide(:title,"Listing Genres") %>
<h1>genres#index</h1>
<h1>Listing all Genres</h1>
<div class="well div-search">
	<%= search_form_for @search do |s| %>
		<%= s.label :genre_cont, "Search" %>
		<%= s.search_field :genre_cont %>
		<%= button_tag(class: "btn btn-info") do %>
			<i class="icon-search"></i>
		<% end %>
	<% end %>
</div>

<div class="tablediv">
	<table class="table table-stripped table-hover">
		<tr>
			<td>ID</td>
			<td>Genre</td>
			<td colspan="2">Action </td>
		</tr>
		<% @genres.each do |genre| %>
		<tr>
		<td><%= genre.id %> </td>
		<td> <%= genre.genre %> </td>
		<td><%=link_to "<i class='icon-trash'></i>".html_safe,genre_path(genre),:confirm => "Are you sure?", :method => :delete, class: "btn btn-danger" %></td>
		<td><%= link_to "<i class='icon-edit'></i>".html_safe,edit_genre_path(genre), class: "btn btn-info" %>
		</tr>
		<% end %>
	</table>
</div>
<%= link_to "<i class='icon-home'></i>".html_safe, root_path,class: "btn btn-info" %> <%= link_to "<i class='icon-plus'></i>".html_safe, new_genre_path,class: "btn btn-info" %>