<% provide(:title,"Listing Genres") %>
<h1>genres#index</h1>
<h1>Listing all Genres</h1>
<div class="tablediv">
	<table class="table table-stripped table-hover">
		<tr>
			<td>ID</td>
			<td>Genre</td>
			<td colspan="2">Action </td>
		</tr>
		<% @genres.each do |genre| %>
		<tr>
		<td><%= genre.id %> </td>
		<td> <%= genre.genre %> </td>
		<td><%=link_to "Delete",genre_path(genre),:confirm => "Are you sure?", :method => :delete, class: "btn btn-danger" %></td>
		<td><%= link_to "Edit",edit_genre_path(genre), class: "btn btn-info" %>
		</tr>
		<% end %>
	</table>
</div>
<%= link_to "Home", root_path,class: "btn btn-info" %> <%= link_to "New Genres", new_genre_path,class: "btn btn-info" %>