<%= form_for @movie do |f| %>
<div>
		<% if user_signed_in? %>
			<!--<%= f.label :id %> -->
			<%= f.label :id, current_user.Username, class: "well" %>
		<% end %>
	</div>
	<p>
		<%= f.label :title %> 
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :genre %>
		<!--<%= select_tag(:genreId, options_for_select(['Action','Adventure','Crime','Comedy','Cult','Thriller','Horror','Sci-fi'])) %> -->

		<!-- The following form of collection_select  lists all the values from the database, no ordering is done -->
		<!--<%= f.collection_select(:genre,Genre.all,:id,:genre) %> -->
		<!-- The following form of collection_select list all the genre in the order -->
		<%= f.collection_select(:genre_id, Genre.order(:genre), :id, :genre, :prompt => true) %>
	</p>

	<p>
		<%= f.label :language %>
		<!-- <%= select_tag(:language,options_for_select(['English','Hindi','Tamil'])) %>-->

		<!-- The following form of collection_select does not order the languages, it displays as is in the database -- >
		<!-- <%= f.collection_select(:language, Language.all, :id, :language) %> -->
		<!-- The following form of collection_select orders the language -->
		 <%= f.collection_select(:language_id, Language.order(:language), :id, :language, :prompt => true) %>
	</p>
	<p>
		<%= f.label :description %>
		<%= f.text_area :description,  :cols => 20 , :rows => 10 %>
	</p>
	<p>
		<%= f.submit class: "btn btn-success" %>
	</p>
<% end %>