<% provide(:title, 'New Movies') %>
<h1>New Movies</h1>
<%= form_for :movie, url: movies_path do |f| %>
	<p>
		<%= f.label :title %> 
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :genre %>
		<%= select_tag(:genreId, options_for_select(['Action','Adventure','Animation','Crime','Horror','Thriller','WAR'])) %>
	</p>

	<p>
		<%= f.label :language %>
		<%= select_tag(:language,options_for_select(['English','Hindi','Tamil'])) %>
	</p>
	<p>
		<%= f.label :description %>
		<%= f.text_area :description,  :cols => 20 , :rows => 10 %>
	</p>
	<p>
		<%= f.submit class: "btn btn-success" %>
	</p>
<% end %>