<% provide(:title,"Listing Languages") %>
<h1>languages#index</h1>
<h1>Listing languages</h1>
<div class="well div-search">
	<%= search_form_for @search do |s| %>
		<%= s.label :language_cont, "Search" %>
		<%= s.search_field :language_cont %>
		<%= button_tag(:class => "btn btn-info") do %>
			<i class="icon-search"></i>
		<% end %>
	<% end %>
</div>

<div class="tablediv">
	<table class="table table-stripped">
		<tr>
			<td>ID</td>
			<td>Language</td>
			<td colspan="2">Action</td>
		</tr>
		<% @languages.each do |language| %>
		<tr>
			<td><%= language.id %></td>
			<td><%= language.language %></td>
			<td><%= link_to "<i class='icon-trash'></i>".html_safe, language_path(language), confirm: "Are you sure?", method: :delete, class: "btn btn-danger" %>
			<td> <%= link_to "<i class='icon-edit'></i>".html_safe,edit_language_path(language),class: "btn btn-info" %>
		</tr>
		<% end %>
	</table>
</div>
<%= link_to "<i class='icon-home'></i>".html_safe, root_path, class: "btn btn-info" %> <%= link_to "<i class= 'icon-arrow-left'></i>".html_safe, new_language_path, class: "btn btn-info" %>